@import url('tippy.js/dist/tippy.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skeleton::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    animation: shimmer 2s linear infinite;
    background-image: linear-gradient(to right, transparent, theme(colors.gray.700), transparent);
    width: 200%;
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-110%);
    }
    100% {
      transform: translateX(60%);
    }
  }

  .outline-auto {
    outline: auto;
  }

  .comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
  }
  .comma-list li {
    display: inline;
  }
  .comma-list li::after {
    content: ', ';
  }
  .comma-list li:last-child::after {
    content: '';
  }
}

.tippy-box {
  @apply rounded-lg bg-white px-1 py-0.5 text-black shadow-lg;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: theme(colors.white);
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: theme(colors.white);
}

.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: theme(colors.white);
}

.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: theme(colors.white);
}

input {
  @apply text-black;
}

html,
body {
  @apply h-full w-full text-white;
  -webkit-tap-highlight-color: transparent;
}
