@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-texture {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a9b1cc' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

  .comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
  }
  .comma-list li {
    display: inline;
  }
  .comma-list li::after {
    content: ', ';
  }
  .comma-list li:last-child::after {
    content: '';
  }

  .tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
  }

  .tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
  }

  .tooltip[data-popper-placement^='left'] > .arrow {
    right: -4px;
  }

  .tooltip[data-popper-placement^='right'] > .arrow {
    left: -4px;
  }

  .compact-prose p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
